.parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  direction: rtl;
  padding: 20px 0;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
}
.name p {
  text-align: justify;
  font-size: 14px;
  margin: 10px 0;
  
}
.name span {
  font-size: 18px;
  font-weight: bold;
}
.name span:last-child {
  padding-right: 5px;
}
.name button {
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  height:40px;
  border-radius: 5px;
  background-color: #059669;
  border: none;
  color: #fff;
  font-size: 14px;
  font-family: "yekan";
}
.name button:hover {
  transform: scale(1.01);
  transition: 0.2s ease-out;
}
.name button a{
  padding: 9px 115px;
}
.image img {
  width: 300px;
  height: 500px;
}
 .other {
  max-width: 250px;

}
.other .item {
  height: 85vh;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgb(209, 209, 209);
}
.other .item div {
  margin-bottom: 5px;
}
.other .item .caption{
    text-align: center;
}
.other .item .items p {
  font-weight: bold;
}
.other .item .items p span {
  vertical-align: sub;
  margin-left: 3px;
}
.other .item .desc p {
  font-size: 12px;
  padding-right: 20px;
  text-align: justify;
}
.name button a{
  padding: 9px 115px;
}