@font-face {
  font-family: "yekan";
  src: url("../public/fonts/Weblogma_Yekan.eot") format("eot"),
    url("../public/fonts/Weblogma_Yekan.woff") format("woff"),
    url("../public/fonts/Weblogma_Yekan.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "yekan";
}
